.school-page{
    width: 100%;
}

.school-cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
    margin: auto;

    .school-card{
        width:auto;
    }

    .cta{
        display: flex; 
        flex-direction: column;

        button{
            margin: 10px 0;
        }
    }
}