.schools{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .school-card{
        display: flex;
        flex-direction: column;
        width: 31%;
        margin: 1.75%;
        border: 1px solid #bbb;
        padding: 30px 15px;

        &:first-of-type{
            margin-left: 0;
        }

        &:nth-child(3n){
            margin-right: 0;
        }

        &:nth-child(4n){
            margin-left: 0;
        }

        &:hover{
            cursor: pointer;
        }

        .logo-container{
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo{
                width: 250px;
                max-width: 100%;
                margin: 0 auto 30px auto;
            }
        }
    
       
        .card-details{
            display: flex;
            flex-direction: column;

            p{
                display: flex;
                justify-content: space-between;
                margin: 4px 0;
            }

            span{
                margin: 4px 0;
            }
            
            .days-container{
                display: flex;
                justify-content: space-between;

                .days{
                    display: flex;
                    flex-direction: column;

                    .day{
                        text-align: right;
                        text-transform: capitalize;
                    }
                }
            }

            
        }
    }
}